<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Create Goal</h1>
      </br>
      <div class="well">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>