/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

.navbar, .home-callout {
  //Gradient provided by @_ighosh at uiGradients.com
  background: 	#FFDF00; /* fallback for old browsers */
  border: none;
}

.home-callout {
  background-image: asset-url('trophy.png');
  background-repeat:no-repeat;
  background-size: 250px 200px;
  background-position: 50% 20%; 
}

.goal-menu {
  background: none !important;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.5;
  }
  &:focus {
    color: white;
    opacity: 0.5;
  }
}

.home-callout {
  margin-top: -22px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.score-well {
  padding-top: 10px;
  margin-top: 65px;
}

.bg-white {
  background-color: #f9ed9a;
}


.fa-plus {
  border: none;
  float: right;
  margin-top: -60px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  &:hover {
    border: 2px solid #eaeaea;
    border-radius: 4px;  
  }
}

.well-activity {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 5px;
  padding-top: 15px;
}

.recent-activity {
  margin-top: 30px;
  .recent-activity-header {
    margin-bottom: 20px;
  }
}

.activity-actions {
  float: right;
  margin-top: -25px;
  margin-right: -5px;
  .btn-default {
    &:hover {
    background-color: red;
  }
  }
}

.alert-notice,.alert-alert {
  background: rgba(255, 255, 255, 0.3);
  margin-top: -14px;
}

.flash-container {
  position: absolute;
}

.btn-goal {
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
  margin-left: -20px;
  margin-right: -20px;
  opacity: 0.75;
}

.chart-well {
  background: rgba(255,223,0, 0.75);
}

.log-activity {
  margin-top: 50px;
}

.hr-activity-bar {
  margin-top: 20px;
  margin-bottom: -10px;
}