<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Log Activity for "<%= @goal.name %>"</h1>
      </br>
      <div class="well">
        
      </div>
    </div>
  </div>
</div>
